<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Flight Ticket Price Prediction</a>
    </h3>

    <hr/>
    <table cellspacing="30">
         <thead>
            <tr>
               <th>Airline</th>
               <th>Departure_Time</th>
               <th>Source_City</th>
               <th>Destination</th>
               <th>#_Stops</th>
               <th>Flight_class</th>
               <th>Duration</th>
               <th>Days_Left</th>
               <th>Current_Price</th>
            </tr>
         </thead>

         <tbody>
            <tr>
               <td>SpiceJet</td>
               <td>Evening</td>
               <td>Delhi</td>
               <td>Chennai</td>
               <td>4</td>
               <td>Economy</td>
               <td>08h50m</td>
               <td>5</td>
               <td>4378</td>
           </tr>
         </tbody>
      </table>

      <form action="{{ url_for('predict_price') }}" method=post class=add-record>
      <dl>
        <input type=text size=15 name=airline placeholder="Airline">
        <input type=text size=15 name=depart_time placeholder="Departure Time">
        <input type=text size=15 name=source placeholder="Source City">
        <input type=text size=15 name=destination placeholder="Destination">
        <input type=text size=15 name=stops placeholder="# Stops">
        <input type=text size=15 name=flight_class placeholder="Flight Class">
        <input type=text size=15 name=duration placeholder="Duration">
        <input type=text size=15 name=days_left placeholder="Days Left">
        <input type=text size=15 name=cur_price placeholder="Current Price">
        <input type=submit value=Predict>
      </dl>
    </form>

</body>
</html>