<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Flight Ticket Price Prediction</a>
    </h3>

    <hr/>
    <table cellspacing="15">
         <thead>
            <tr>
               <th>Fligh_Operator</th>
               <th>Departure_Date</th>
               <th>Departure_Time</th>
               <th>Source_City</th>
               <th>Destination</th>
               <th>#_Stops</th>
               <th>Duration</th>
               <th>Days_Left</th>
               <th>Current_Price</th>
            </tr>
         </thead>

         <tbody>
            <tr>
               <td>SpiceJet</td>
               <td>2020-04-23</td>
               <td>13:10</td>
               <td>Delhi</td>
               <td>Guwahati</td>
               <td>4</td>
               <td>08h50m</td>
               <td>5</td>
               <td>4378</td>
           </tr>
         </tbody>
      </table>

      <form action="{{ url_for('add_record') }}" method=post class=add-record>
      <dl>
        <input type=text size=15 name=title placeholder="Flight Operator">
        <input type=text size=15 name=artist placeholder="Departure Date">
        <input type=text size=15 name=album placeholder="Departure Time">
        <input type=text size=15 name=title placeholder="Source City">
        <input type=text size=15 name=artist placeholder="Destination">
        <input type=text size=15 name=album placeholder="# Stops">
        <input type=text size=15 name=title placeholder="Duration">
        <input type=text size=15 name=album placeholder="Days Left">
        <input type=text size=15 name=album placeholder="Current Price">
        <input type=submit value=Predict>
      </dl>
    </form>

</body>
</html>